In [ ]:
myset = { 'apple', 'banana', 'cherry' }
print(myset) # unordered

{'cherry', 'apple', 'banana'}

In [ ]:
thisset = {'apple', 'banana', 'cherry', 'apple'}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
print(len(thisset))

3

In [ ]:
set1 = {'apple', 'banana', 'cherry'}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [ ]:
set1 = {'abc', 34, True, 40, 'male'}

In [ ]:
thisset = set(('abc', 34, True, 40, 'male'))
print(thisset)

{True, 34, 40, 'abc', 'male'}

In [ ]:
thisset = {'apple', 'banana', 'cherry'}

for x in thisset:
  print(x)

cherry
apple
banana

In [ ]:
print('banana' in thisset)

True

In [ ]:
thisset.add('orange')
print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

In [ ]:
tropical = {'pineapple', 'mango'}

thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'orange', 'apple', 'mango', 'pineapple'}

In [ ]:
thisset.remove('banana')

In [ ]:
print(thisset)

{'cherry', 'orange', 'apple', 'mango', 'pineapple'}

In [ ]:
thisset.discard('mango')

In [ ]:
print(thisset)

{'cherry', 'orange', 'apple', 'pineapple'}

In [ ]:
x = thisset.pop()
print(x)

cherry

In [ ]:
print(thisset)

{'orange', 'apple', 'pineapple'}

In [ ]:
thisset.clear()
print(thisset)

set()

In [ ]:
del thisset

In [ ]:
thisset = {'apple', 'banana', 'cherry'}

for x in thisset:
  print(x)

cherry
apple
banana

In [ ]:
thisset = {'apple', 'banana', 'cherry'}
set2 = {1, 2, 3}

set3 = thisset.union(set2)
print(set3)

{1, 'cherry', 2, 'banana', 3, 'apple'}

In [ ]:
x = {'apple', 'banana', 'cherry'}
y = {'google', 'microsoft', 'apple'}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
dict1 = {
    'name': 'ella',
    'age': 12
}

print(dict1)

{'name': 'ella', 'age': 12}

In [ ]:
print(dict1['name'])

ella

In [ ]:
x = dict1.get('name')
print(x)

ella
{'name': 'ella', 'age': 12}

In [ ]:
x = dict1.keys()
print(x)

dict_keys(['name', 'age'])

In [ ]:
dict1['name'] = 'amy'
print(dict1)

{'name': 'amy', 'age': 12}

In [ ]:
dict1.update({'name': 'ricky'})
print(dict1)

{'name': 'ricky', 'age': 12}

In [ ]:
dict1['tall'] = 161
print(dict1)

{'name': 'ricky', 'age': 12, 'tall': 161}

In [ ]:
dict1.update({'color': 'red'})
print(dict1)

{'name': 'ricky', 'age': 12, 'tall': 161, 'color': 'red'}

In [ ]:
dict1.pop('name')

'ricky'

In [ ]:
print(dict1)

{'age': 12, 'tall': 161, 'color': 'red'}

In [ ]:
dict1.popitem()
print(dict1)

{'age': 12}

In [ ]:
del dict1['age']
print(dict1)

{}