In [ ]:
!python --version

Python 3.7.13

In [ ]:
print("hello world!")

hello world!

In [ ]:
if 5 > 2:
  print("5 bigger than 2")
else:
  print("no")

5 bigger than 2

In [ ]:
if 5 > 2:
  print("5 is bigger than 2")

5 is bigger than 2

In [ ]:
if 5 > 2:
      print('5')

5

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
print(x)

5

In [ ]:
# this is a comment
print("Hello")

Hello

In [ ]:
# print("Hello") # comment here

In [ ]:
"""
This is a comment
This 2
This 3
"""
print("this!!")

this!!

In [ ]:
x = 5
y = "hello"

print(x)
print(y)

5
hello

In [ ]:
x = 5
x = "ella"
print(x)

ella

In [ ]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
x = "Jonhe"

In [ ]:
myvar = 'ella'
my_var = 'ella'
_my_var = 'ella'
myVar = 'ella'
MYVAR = 'ella'
myvar2 = 'ella'

In [ ]:
# Don't do this
# 2myvar = "ella"
# my-var = "ella"
# my var = "ella"

In [ ]:
myVarName = "Ella" # camelCase
MyVarName = "Ella" # PascalCase
my_var_name = 'Ella' # snake_case

In [ ]:
x, y, z = "Orange", "Straw", "Cherry"

print(x, y, z)

Orange Straw Cherry

In [ ]:
x = "Hello" # str
x = 20 # int
x = 20.5 # float
x = 1j # complex
x = ['a', 'b', 'c'] # list
x = ('a', 'b', 'c') # tuple
x = range(6) # range
x = {"name": "john"} # dictionary
x = {'a', 'b'} # set
x = True # bool
x = b"hello" # bytes
x = bytearray(5) # bytearray
x = memoryview(byte(5)) # memoryview