In [ ]:
a = 33
b = 33

if b > a:
  print('b is bigger than a')
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33

In [ ]:
if a > b: print('a is greater than b')
else: print('not')

a is greater than b

In [ ]:
a = 2
b = 330
print('A') if a > b else print('B')

B

In [ ]:
a = 330
b = 330

print('A') if a > b else print('=') if a == b else print('B')

=

In [ ]:
a = 200
b = 33
c = 500

if a > b and c > a:
  print('Both condition are True')

Both condition are True

In [ ]:
a = 200
b = 33
c = 500

if a > b or a > c:
  print('At least one of the condition is True')

At least one of the condition is True

In [ ]:
a = 33
b = 200

if b > a:
  pass

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1

while i < 6:
  print(i)
  
  if i == 3:
    break

  i += 1

1
2
3

In [ ]:
i = 0

while i < 6:
  i += 1

  if i == 3:
    continue

  print(i)

1
2
4
5
6

In [ ]:
i = 1

while i < 6:
  print(i)
  i += 1
else:
  print("i is no longe less than 6")

1
2
3
4
5
i is no longe less than 6

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in 'banana':
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for x in fruits:
  print(x)
  
  if x == 'banana':
    break

apple
banana

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for x in fruits:
  if x == 'banan':
    break

  print(x)

apple
banana
cherry

In [ ]:
fruits = ['apple', 'banana', 'cherry']

for x in fruits:
  if x == 'banana':
    continue
  
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print('Finally finished')

0
1
2
3
4
5
Finally finished

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print('finally finished')

0
1
2

In [ ]:
adj = ['red', 'big', 'tasty']
fruits = ['watermelon', 'banana', 'mango']

for x in adj:
  for y in fruits:
    print(x, y)

red watermelon
red banana
red mango
big watermelon
big banana
big mango
tasty watermelon
tasty banana
tasty mango