In [ ]:
def my_function():
  print('hello from a function')

In [ ]:
my_function()

hello from a function

In [ ]:
def func1(fname):
  print(fname + " will be open")

func1("D:")
func1("Linux")

D: will be open
Linux will be open

In [ ]:
def func2(fname, lname):
  print(fname + " " + lname)

func2('emil', 'Resfsnes')

emil Resfsnes

In [ ]:
func2('emil')

TypeError: ignored

In [ ]:
def my_function(*kids): # arbitrary arguments
  print('The younges child is ' + kids[2])

my_function("Emil", "Ella", "Linus")

The younges child is Linus

In [ ]:
def my_function(child3, child2, child1):
  print('The younges child is ' + child2)

my_function(child3="Emil", child2="Ella", child1="Linus")

The younges child is Ella

In [ ]:
def my_function(country = 'Korea'):
  print("I am from " + country)

my_function()
my_function('US')

I am from Korea
I am from US

In [ ]:
def my_function(x):
  return x * 5

print(my_function(3))

15

In [ ]:
def tri_recursion(k):
  if k > 0:
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

tri_recursion(6)

1
3
6
10
15
21

21

In [ ]:
def greeting(name):
  print("Hello, " + name)

person1 = {
    'name': 'John',
    'age': 36
}

In [ ]:
import mymodule

mymodule.greeting('Jonathan')
a = mymodule.person1['age']
print(a) # 36

In [ ]:
class MyClass:
  x = 6

In [ ]:
p1 = MyClass()
print(p1.x)

6

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person('John', 36)

print(p1.name)
print(p1.age)

John
36