In [ ]:
f = open('test.txt')

In [ ]:
f = open('test.txt', "rt")

In [ ]:
print(f.read())

1. This is test for File IO
2. Happy New Year 2022!
3. You Can Do It!
4. The Dog Is So Cute
5. The Flower Is So Beautiful

In [ ]:
f = open("test.txt", "r")

In [ ]:
print(f.read(5))

1. Th

In [ ]:
print(f.readline())

2. Happy New Year 2022!

In [ ]:
f = open("test.txt", "r")

for x in f:
  print(x)

1. This is test for File IO

2. Happy New Year 2022!

3. You Can Do It!

4. The Dog Is So Cute

5. The Flower Is So Beautiful

In [ ]:
f.close()

In [ ]:
f = open('test.txt', 'a')
f.write('Now the file has more content!')
f.close()

In [ ]:
f = open('test.txt', 'w')
f.write('woops! I have deleted the content!')
f.close()
# 1. This is test for File IO
# 2. Happy New Year 2022!
# 3. You Can Do It!
# 4. The Dog Is So Cute
# 5. The Flower Is So Beautiful
# Now the file has more content!Now the file has more content!

In [ ]:
f = open('newfile.txt', 'x')

In [ ]:
import os

In [ ]:
os.remove("newfile.txt")

In [ ]:
if os.path.exists('test.txt'):
  print("exist")
else:
  print('The file does not exist')

if os.path.isfile('test1.txt'):
  print('is File')
else:
  print('no File')

exist
no File

In [ ]:
import pandas

In [ ]:
mydataset = {
    'cars': ['bmw', 'benz', 'ford'],
    'pass': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

   cars  pass
0   bmw     3
1  benz     7
2  ford     2

In [ ]:
import pandas as pd

In [ ]:
mydataset = {
    'cars': ['bmw', 'benz', 'ford'],
    'pass': [3, 7, 2]
}

df = pd.DataFrame(mydataset)

print(df.at[1, 'cars'])

benz

In [ ]:
print(df.loc[0])

cars    bmw
pass      3
Name: 0, dtype: object

In [ ]:
print(df.loc[[0, 1]])

   cars  pass
0   bmw     3
1  benz     7

In [ ]:
df = pd.DataFrame(mydataset, index = ['day1', 'day2', 'day3'])

In [ ]:
print(df)

      cars  pass
day1   bmw     3
day2  benz     7
day3  ford     2

In [ ]:
import pandas as pd

df = pd.read_csv('info2.csv')
print(df)

    Name  Age  Tall
0   Ella   28   160
1  Ricky   41   180

In [ ]:
print(df.to_string())

    Name  Age  Tall
0   Ella   28   160
1  Ricky   41   180

In [ ]:
f = open('test.txt')
print(f.readlines())
f.close()

['1. This is test for File IO\n', '2. Happy New Year 2022!\n', '3. You Can Do It!\n', '4. The Dog Is So Cute\n', '5. The Flower Is So Beautiful\n']